*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background-color: rgb(65, 64, 64);
    color: whitesmoke;
}

.portfolio-container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    &__search-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input,
        select,
        textarea {
            color: whitesmoke;
        }

        textarea:focus,
        input:focus {
            color: #f6cd61;
            border-color: #f6cd61;
            outline: none !important;
            box-shadow: 0 0 10px #f6cd61;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        #searchInput {
            width: 100%;
            height: auto;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 2px;
            padding-left: 7px;
            font-size: 120px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid white;
            background-color: rgba(5, 5, 5, 0);
        }

        #searchBtn {
            width: 80%;
            height: auto;
            margin: auto;
            margin-bottom: 20px;
            padding: 40px;
            font-size: 40px;
            color: whitesmoke;
            border-radius: 7px;
        }

        button:focus {
            border-color: #f6cd61;
            outline: none !important;
            box-shadow: 0 0 10px #f6cd61;
            border-radius: 7px;
        }
    }

    &__qualityOption {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        padding: 40px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #qualityOptionLabel {
            width: 80%;
            height: auto;
            padding: 10px;
            text-align: center;
            font-size: 45px;
        }

        #qualityOption {
            width: 80%;
            height: auto;
            font-size: 50px;
            padding: 50px;

        }

        select:focus {
            color: #f6cd61;
            border-color: #f6cd61;
            outline: none !important;
            box-shadow: 0 0 10px #f6cd61;
            border-radius: 7px;
        }
    }

    &__nav-header {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .loadContainer {
            width: 100%;
            height: auto;
            margin: auto;
            padding: 20px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: 1px solid white;

            p {
                padding: 10px;
            }

            #loadMoreImg {
                width: 20%;
                height: auto;
                margin: auto;
                margin-bottom: 20px;
                padding: 20px;
                font-size: 40px;
                color: whitesmoke;
                border-radius: 7px;
            }

            button:focus {
                border-color: #f6cd61;
                outline: none !important;
                box-shadow: 0 0 10px #f6cd61;
                border-radius: 7px;
            }
        }


    }

    &__photo {
        width: 100%;
        height: auto;
        margin: auto;

        .img-container {
            width: 100%;
            height: auto;
            padding: 10px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 50px;
            padding: 10px;

            #img {
                max-width: 100%;
                height: auto;
                
                object-fit: cover;
                transition: transform 0.4s cubic-bezier(0.87, -0.9, 0.07, 3.26);
            }

            #img:hover {
                transform: scale(1.1);
                filter: drop-shadow(8px 8px 10px);
            }
        }

        /*      @media (max-width: 1080px) {
            .img-container {
                width: 25%;
                height: auto;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                background-color: #f6cd61;

                #img {
                    width: 100%;
                    height: auto;

                }
            }

        } */

    }
}